body {
  width: 1200px;
  margin: 0;
  padding: 0;
}
.App {
  text-align: left;
  margin:40px;
}
.formC {
  border: 1px solid black;
  margin-top: 40px;
  padding: 40px;
}
h5 {
  display: inline-block;
  float: right;
}
.table-striped {
  border: 1px solid black;
  margin-top: 40px;
}
.skills {
  padding-left: 50px;
  margin-top: -27px;
}
